/* Main.css created by Connor Porell for CS4241 Project 6*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Lobster);
@font-face{
    font-family: 'Pac-Font';
    src: url('PAC-FONT.TTF') format('truetype');
}

body
{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", 'Montserrat', ssans-serif, 'Raleway', sans-serif, 'Lobster', cursive;
  background-color: #D8CAA8;
}

body > article
{
    text-align: center;
}

header, footer
{
    background-color: #7CAC2F; 
}

div
{
    visibility: visible;
}

hr
{
     padding: 0; 
     border: none; 
     border-top: medium double #333; 
     color: #333; 
     text-align: center;
     /* CSS code for <hr> from https://css-tricks.com/examples/hrs/ */
}

h1
{
  margin: 10px 0;
  font-size: 3em;
  font-family: 'Lobster';
  color: #382513;
}

h2
{
    margin: 3px 3px 3px 3px;
    font-family: 'Lobster';
    font-size: 1.7em;
    color: #382513;
}

.header-note
{
  margin: 5px 0 0 0;
  font-family: 'Raleway';
  color: #284907;
  font-size: 1.25em;
}

.copyright
{
    text-align:center;
  font-size: 1em;
  margin: 3px 0 0 0;
}

.center
{
    text-align : center;
    margin-left:auto;
    margin-right:auto;
}

.picCenter
{
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.tableCenter
{
    margin-left : auto;
    margin-right : auto;
}

table
{
  border-spacing: 0;
    border-collapse:collapse;
    width: auto;
    height: auto;
    table-layout: fixed;
  padding: 0;
  margin: 0;
  border: none;
}

thead
{
    font-family: 'Montserrat';
    font-size: 1.3em;
    font-weight: bold;
}

th
{
    border:double;
    border-width:medium;
}

tr
{
  font-family: 'Raleway';
  border-collapse: collapse;
  padding: 0;
  margin: 0;
  border: none;
  height: 30px;
  max-height: 30px;
  min-height: 30px;
}

td{
  padding: 0;
  border-collapse: collapse;
  margin: 0;
  border: none;
}

a
{
    color: #382513;
    text-decoration: none;
    font-variant: normal;
    font-style:normal;
}

p
{
    font-family: 'Raleway'
}

span
{
    font-family: 'Montserrat';
    color: #7CAC2F;
    padding-bottom:8px;
    padding-top:0px;
}

.bgColor1
{
    background-color: #284907;
    text-decoration:none;
    color: #FFFFFF;
}

input
{
    font-family: "Montserrat";
}

input.fullList
{
    font-size: 1.5em;
}

img {
  display: block;
  margin-left:auto;
  margin-right:auto;
}

button
{
    font-family: "Pac-Font";
    font-size: 2em;
}

button > img
{
    width:175px;
    height:175px;
}

.grid-square
{
    height: 30px;
    width: 30px;
    max-height: 30px;
    max-width: 30px;
    min-height: 30px;
    min-width: 30px;
}

.wall-square
{
  /*
    height: 30px;
    width: 30px;
    max-height: 30px;
    max-width: 30px;
    min-height: 30px;
    min-width: 30px;
    */
    height: 28px;
    width: 28px;
    overflow: hidden;
    border: none;
    border-collapse: none;
}

.wall
{
    background-color: black;
}

.floor
{
    background-color: black;
}

.rotate-right {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

.rotate-down {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rotate-left {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.rotate-up {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}